log/
.metadata
.gradle
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

*.class

# Package Files #
*.jar
*.war
*.ear


qa4mre-alzheimer-task/XMIs/12-test-alzheimer-srl-debug/
qa4mre-alzheimer-task/makefile
qa4mre-base/src/main/resources/TypeSystemDescriptorStyleMap.xml
